.tab-btns {
    position: fixed;
    top: 50%;
    transform: translateY(-90px);
}

.tabs {
    font-weight: bold;
    position: absolute;
    font-size: 25px;
    padding: 2px 7px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    inline-size: max-content;
    text-decoration: none;
    color: white;

    &:hover {
        left: 0;
        color: white;
    }

    &.active {
        left: 0
    }

}

.about {
    background-color: #0da506;
    left: -80px;
    transition: left 0.5s;
}

.skill {
    background-color: #22c3d6;
    top: 75px;
    left: -70px;
    transition: left 0.5s;
}

.award {
    background-color: #a6da5b;
    top: 150px;
    left: -93px;
    transition: left 0.5s;
}